.header_wrap {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.Logo_wrap {
  display: flex;
  justify-content: center;
  margin: 0 0 0 95px;
  gap: 10px;
}

.Logo {
  color: #035c94;
  width: 200px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav_wrap {
  display: flex;
  height: 99px;
  gap: 30px;
  align-items: center;
  margin: 0 95px 0 0;
  font-size: 20px;
  font-weight: 600;
}
